# Emacs stuff
# TODO: Remove all .el files
emacs/emojis/*
emacs/.cache/*
emacs/bookmarks
emacs/.lsp*
emacs/custom.el
emacs/tramp
emacs/init.el
*.elc

# Haskell
*.hi
*.o
*.errors
xmonad/xmonad-*-linux
xmonad/.stack-work/*